html, body {
  margin: 0;
  padding: 0; 
  width: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
}

/*Codigo CSS que permite la correcta ubicacion y animacion del logotipo */

.logosvg{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

path {
  stroke: #fff;
  fill: #fff;
  stroke-dasharray: 1200;
  opacity: 10;
  animation: animate 3s cubic-bezier(0,0.23,1,.1);
}

/*keyframe para la animacion del svg del logotipo*/

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1200;

  }

  30%{
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1200;
  }

  90%{
    fill: rgba(255,255,255,0);
  }

  100%{
    opacity: 10;
    fill: rgba(255,255,255,1);
    stroke-dashoffset: 0;
  }
}

/*---*/

header {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.content {
  width: 90%
  margin: auto;
  margin-top: 60px;
  margin-right: 15%;
  margin-left: 15%;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

p{
  width: 90%
  margin: auto;
  margin-top: 60px;
  margin-right: 15%;
  margin-left: 15%;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}


.nombre {
  position: relative;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-size: 24px;

}

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  /*sin estilo de "puntos"*/
  list-style: none;
  background: rgba(0,0,0,0);
  /*que no tenga scroll*/
  overflow: hidden;
  color: #fff;
  /*"margen de relleno"*/
  padding: 0;
  text-align: right;
  margin: auto;
  margin-right: 20px;
  /*efecto*/
  transition: 1s;
}


nav ul li {
  display: inline-block;
  padding: 20px;
  
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.contentslide {
  max-width:800px;
  height: 50%;
  margin:auto;
  margin-top: 60px;
  position: relative;
}

.Slides{
  width: 100%;
  height: 400px;


}

.bttn{
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.bttnblack{
  color:#fff!important;
  background-color:#000!important;

}

.bttnleft {
  position:absolute;
  top:50%;
  left:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(-0%,-50%);
}

.bttnright {
  position:absolute;
  top:50%;
  right:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(0%,-50%);
}



h1{
  margin: auto;
  margin-top: 40px;
  text-align: center; 
}

div h2{
  background-color: rgba(255,255,255,.8);
  display: block;
  position: absolute;
  bottom: -16px;
  left: 0;
  padding: 5px;
  width: 100%;
}

.contact h3{
  margin: auto;
  margin-top: 40px;
  color: white;
  text-align: center;

}

.contact {
  width: 100%
  margin: auto;
  margin-top: 60px;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.contact p{
  color: white;
  text-align: center;
}

.redes {
  text-align: center;
  color: white;
}

.abinbev{
  width: 100%
  height: 100%;
  margin: auto;
  margin-top: 60px;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;

}

.abinbev .transparent{
  color: transparent;
  width: 900px;
  height: 900px;
}

.abinbev p{
  margin: auto;
  margin-top: 60px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  color: black;

}

.Primid{
  width: 100%
  height: 100%;
  margin: auto;
  margin-top: 60px;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;

}

.Primid .transparent{
  color: transparent;
  width: 900px;
  height: 900px;
}

.Primid p{
  margin: auto;
  margin-top: 60px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  color: black;

}

.Oilcol{
  width: 100%
  height: 100%;
  margin: auto;
  margin-top: 60px;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;

}

.Oilcol .transparent{
  color: transparent;
  width: 900px;
  height: 900px;
}

.Oilcol p{
  margin: auto;
  margin-top: 60px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  color: black;

}

.Alpesoft{
  width: 100%
  height: 100%;
  margin: auto;
  margin-top: 60px;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;

}

.Alpesoft .transparent{
  color: transparent;
  width: 900px;
  height: 900px;
}

.Alpesoft p{
  margin: auto;
  margin-top: 60px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  color: black;

}

