html, body {
  font-family: drugs;
  width: 100%;
  height: 100%;
}


h1#tittle{
  color: black;
}

div#index {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 12%;
}

div#nombre {
  margin: auto;
  margin-left: 1%;
  float: left;
}

div#logo {
  margin: auto;
  margin-right: 5%;
  float: right;
}

img.logopng{
  width: 80px; 
  height: 80px;
}

div#projects {
  margin: auto;
  margin-top: 5%;
  width: 100%;
  height: 50%;
}


div#abinbev {
  margin: auto;
  float: center;
  width: 650px;
  height: 100%;
}

img.abinbevjpg{
  width: 650px; 
  height: 355px;
}



